# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the junit tests, build with `make unit-tests-junit`
TEST-*.txt
TEST-*.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Debug information
__debug_bin
bin/manager
# Ignore changes to this file but keep it commited in current form
config/manager/kustomization.yaml
controllers.coverprofile*
